td[contenteditable="true"]:hover {
  background-color: rgba(72, 77, 80, 0.428); 
  cursor: text; /* makes it clear that it’s editable */
}

body {
  background: black;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

/* Headings and paragraphs inherit font */
h1, p, button, input {
  font-family: "IBM Plex Sans", sans-serif;
}

#logout {
  font-family: "IBM Plex Sans", sans-serif;
  position: absolute;
  right: 15px;
  top: 20px;
}

#addTask{
  border-color: rgb(218, 218, 218);
  background-color: white;
}

/* Priority colors */
.high-priority {
  background-color: rgb(255, 119, 0) !important;
  color: black !important;
}
.medium-priority {
  background-color: yellow !important;
  color: black !important;
}
.low-priority {
  background-color: green !important;
  color: black !important;
}
.expired-priority {
  background-color: red !important;
  color: black !important;
}

.delete-button {
  display: none !important; /* hidden by default */
  position: absolute;
  right: 10px;
}

.task-row:hover .delete-button {
  display: inline-block !important; /* show on hover */
}